// COLORS el App kolo  

//  da el Primary
$darkBlue: #2d314d;
$limeGreen: #31d35c;
$brightCyan: #2bb7da;


$grayishBlue: #9698a6;
$lightGrayishBlue: #f3f4f6;
$veryLightGrey: #fafafa;
$white: #ffffff;